@import "reset.css";

@media screen and (max-device-width: 640px) {
	
	body{
		-webkit-text-size-adjust:none;
		font-family:Helvetica, Arial, Verdana, sans-serif;
		padding:5px;
	}
	
	div{
		clear:both;
		display:block;
		width:100%;
		float:none;
		margin:0;
		padding:0;
	}
	
	div {
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	/*
	#navi,#navi li{
		float:none!important;
		clear:both!important;
		margin:0 0 20px 0!important;
		display:block;
		padding:0;
		text-align:left!important;
		width:100%;
	}
	#navi{
		border:1px solid #ccc;
		padding:5px;
		-webkit-border-radius:5px;
	}
	#navi li{
		margin:0!important;
	}
	#navi li a{
		display:block;
	}
	*/
	input{
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		text-align: center;
	}
	
	img{
		max-width:100%;
		height:auto;
	}
	
	
}


html, body
{
	//background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #636363;
}

a
{
	color: #000000;
	text-decoration: none;
}
	a:hover
	{
		color: #ffffff;
	}

ul
{
	list-style-type: none;
}

	#navi li
	{
		float: left;
		width: 33%;
	}
	
.container_12 .grid_12
{
	//background-color: #f1f1f1;
}

.bold
{
	font-weight: bold;
}

.break
{
	height: 1px;
	//background-color: #cccccc;
	
}

#header
{
	/*Background Gradient*/
	/*
	background: #747474;
	background: -moz-linear-gradient(top,  #747474 0%, #353535 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747474), color-stop(100%,#353535));
	background: -webkit-linear-gradient(top,  #747474 0%,#353535 100%);
	background: -o-linear-gradient(top,  #747474 0%,#353535 100%);
	background: -ms-linear-gradient(top,  #747474 0%,#353535 100%);
	background: linear-gradient(top,  #747474 0%,#353535 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#353535',GradientType=0 );
	*/
}

#logo
{

}
	#logo h1, #logo h2
	{
	}
	
	#logo h2
	{
		font-size: 12px;
		font-weight: normal;
		color: #7cc576;
		line-height: 100%;		
	}

#account
{
	background-color: #c4df9b;
	margin-top: 30px;
	
	/*Border Radius*/
	border-radius: 5px;
	text-align: center;
}

#navi
{
	height: 50px;
	line-height: 170%;	
	background-color: #c4df9b;
	text-align: center;
	border-radius: 5px;
	margin-top: -20px;
	margin-bottom: 20px;
}
	#admin
	{
		font-size: 12px;
		border-top: 1px solid black;
		padding-top: 0px;
	}

#main_featured
{
	height: 238px;
	
	background-image: url('../img/featured/featured_main.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #636363;
	border-top: 3px solid #7cc576;
	border-bottom: 3px solid #7cc576;
	
}
	#main_featured a
	{


		color: #ffffff;
		text-align: right;
		line-height: 460px;
		
		display: block;
	}

	#main_featured h3
	{
		height: 250px;
		
		font-size: 100%;
		font-weight: normal;
		color: #ffffff;

		float: right;
		margin-right: 7px;
		
		/*Text Stroke*/
		text-shadow:
		-1px -1px 0 #7cc576,
		1px -1px 0 #7cc576,
		-1px 1px 0 #7cc576,
		1px 1px 0 #7cc576;
	}

#featured_1
{
	height: 120px;
	
	background-image: url('../img/featured/featured_1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #636363;
	border-top: 3px solid #7cc576;
	border-bottom: 3px solid #7cc576;
}

#featured_2
{
	height: 120px;
	background-image: url('../img/featured/featured_2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #636363;
	border-top: 3px solid #7cc576;
	border-bottom: 3px solid #7cc576;
}
	#featured_1 a, #featured_2 a
	{
		width: 250px;
		height: 120px;

		color: #ffffff;
		text-align: right;
		line-height: 215px;
		
		display: block;
	}

	#featured_1 h3, #featured_2 h3
	{
		height: 120px;
		
		font-size: 100%;
		font-weight: bold;
		color: #ffffff;
		
		margin-right: 7px;
		float: right;
		
		/*Text Stroke*/
		text-shadow:
		-1px -1px 0 #7cc576,
		1px -1px 0 #7cc576,
		-1px 1px 0 #7cc576,
		1px 1px 0 #7cc576;
	}
	
#featured
{

}
	#featured h3
	{
		color: white;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		border-top: 5px solid #7cc576;
		border-bottom: 5px solid #7cc576;
		background-color: #7cc576;
		border-radius: 5px;
	}

#products
{
}
	.grid_9 #products
	{

	}

#categories
{
	color: #ffffff;
	

	background-color: #7cc576;
	
	/*Border Radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	#categories a
	{
		color: #ffffff;
	}
		#categories a:hover
		{
			color: #e4e4e4;
		}
	
	#categories h4
	{
		color: #ffffff;
		font-size: 1em;
		font-weight: bold;
		
		padding-top: 5px;
		margin-left: 5px;
	}
	
	#categories ul
	{
		padding-left: 20px;
	}
	
.item
{
	text-align: center;
	background-color: #ecf4e1;
	border-top: 5px solid #7cc576;
	border-bottom: 5px solid #7cc576;
	//background-color: green;
	margin-bottom: 10px;
}
	.item a:hover
	{
		color: #7cc576;
	}

	.item img
	{
		width: 40%;
		margin-top: 10px;
		border: 1px solid #7cc576; 
	}
	
	.item p
	{
		font-size: 10px;
	}
	
.rating
{
	color: #7cc576;
	font-weight: bold;
	height: 20px;

	background-color: #f1f1f1;
	//background-color: orange;
	border-top: 1px solid #7cc576;
	border-bottom: 1px solid #7cc576;
}
	
.stars
{
	margin-top: -13px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}
	.stars img
	{
		height: 20px;
		width: 20%;
		border: none;
		float: left;
	}
	
.price
{	
	color: #7cc576;
	font-weight: bold;
	line-height: 100%;
	
	background-color: #f1f1f1;
	//background-color: red;
	border-top: 1px solid #7cc576;
	border-bottom: 1px solid #7cc576;
}
	.price a
	{
		color: #7cc576;
	}

.text
{

}

  .text img {
		width: 30%;
		height: auto;
		margin-left: 35%;
		margin-right: 35%;
	}
	
	.text h1
	{
		font-size: 1em;
		font-weight: bold;
		display: inline;
	}
	
	.text h3
	{
		color: white;
		text-align: center;
		padding-top: 7px;
	}
	
	.text h4
	{
		padding-left: 10px;
		background-color: #daedbc;
	}
	
	.text a:hover
	{
		color: #7cc576;
	}
	
	.text p
	{
		margin-top: 15px;
	}
	
	.otc
	{

		border: 3px solid #7cc576;
	}

	.icon
	{
		height: 25px;
		border: 3px solid #7cc576;
	}
	
	.contact
	{
		text-align: center;
	}
	
	.map
	{	
		border: 3px solid #7cc576;
	
	}

.box
{
	
	background-color: #ecf4e1;
}
	.box h5, h6
	{
		margin-left: 10px;
	}
	
	.box li {
		padding-left: 20px;
		padding-top: 3px;
	}
	
.cart
{
	text-align: center;
	border-bottom: 3px solid #c4df9b;
}
	
	.cart a:hover
	{
		color: #7cc576;
	}

	.cart img
	{
		width: 100px;
		height: 100px;
		
		border: 1px solid #7cc576; 
	}
	
	.remove
	{
		font-size: 10px;
	}
	
	.cart .price
	{
		text-align: center;
		border: 0px;
	}

.checkout
{


}
	.checkout .price
	{

		border: 0px;

	}

.billing
{


}
	
.money
{
}
	
	.total
	{

		
		color: #7cc576;
		font-weight: bold;

		text-align: center;
		
		background-color: #f1f1f1;
	}
		.total a
		{
			color: #7cc576;
		}
	
		.total .subject
		{
		}
		
		.total .number
		{
		}

.info
{

}
		
#footer
{
	line-height: 25px;
	background-color: #c4df9b;
	border-radius: 5px;
}
	#footer p
	{
		text-align: center;
		margin-left: 10px;
	}
	
